
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nounderline {
  text-decoration: none !important
}

#map {
  height: calc(100vh - 50px - 32px);
  position: relative;
}

#sidebar, .filter {
  position: relative;
  z-index: 9999;
}

#sidebar {
  width: 350px;
  height: calc(100vh - 50px - 32px);
  background: #ffffff;
  overflow: auto;
}
